@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #846191b3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.wallpapers {
    position: relative;
    align-items: center;
    border: 3px solid rgb(207, 207, 207);
    border-radius: 15px;
    height: 600px;
    width: 340px;
    overflow: hidden;
}
 .image{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: calc(100% - 60px);
    width: 101%;
    transition: opacity 0.4s ease;
    opacity: 0;
}
.opened {
    opacity: 1;
}
.navbar {
    position: absolute;
    display: flex;
    bottom: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 61px;
    width: 101%;
}
.logo {
    justify-content: center;
    align-items: center;
}
.name-tag {
    font-size: 12px;
    margin: 2px 0;
}
.button {
    text-align: center;
    padding: 0;
    margin: 0;
    height: 60px;
    color: #777;
    cursor: pointer;
    flex: 1;
    padding: 10px;
    text-align: center;
}
.button:hover {
    color: #9b59b6b3;
}
.button:active {
    color:#8432a4;
}
.active {
    color:#8432a4;
}